@import './base.css';

body {
    font-family: var(--mainFont);
    background-color: #eee
}


/*starte css for hedaer*/
.header {
    background-color: white;
    padding: 20px 0;
}

.header .logo {
    display: flex;
    align-items: center;
    gap: 2px;
}

.header .logo a {
    color: var(--mainColor);
}

.header .logo img {
    width: 35px;
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.navbar ul li a {
    color: #101928;
}

.active {
    font-weight: 900;
}

.auth {
    display: flex;
    gap: 10px;

}

.auth a {
    font-family: var(--subFont);
    border-radius: 10px;
    padding: 5.3px 30.18px;

}

.auth .login {
    border: 2px solid var(--mainColor);
    color: var(--mainColor);
    font-weight: 700;
}

.auth .register {
    color: white;
    background-color: var(--mainColor);
    border: 2px solid var(--mainColor);
}

.menu {
    display: none;

}

/*screen*/

@media screen and (max-width:992px) {

    .menu {
        display: block;
        order: 1;
    }

    .navbar,
    .auth {
        display: none;
    }
}

@media screen and (max-width:576px) {

    .container {
        width: calc(100% - 50px);

    }

    .header .logo img {
        width: 20px;
    }

    .header .logo a {
        font-size: 14px;
    }
}


/*end css for hedaer*/







/*fo0000000ter*/
.footer {
    background-color: #393E46;
    color: white;
    padding: 50px 0;
}

.footer .row {
    gap: 20px;
}

.footer a {
    color: white;
}

.footer-left-side {

    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    width: calc((100% - 20px)/2);

}

.footer-left-side .logo {
    display: flex;
    align-items: center;
    gap: 2px;
}

.footer-left-side .logo a {
    color: var(--mainColor);
}

.footer-left-side .logo img {
    width: 35px;
}

.footer-left-side .icons img {
    border: 1px solid #fff;
    padding: 10px;
    width: 20px;
    height: 20px;
}


.footer-right-side {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: calc((100% - 20px)/2);

}

.footer-right-side nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}


.footer-right-side .footer-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/*screen for footer*/

@media screen and (max-width:768px) {
    .footer .row {
        flex-direction: column;
    }

    .footer-left-side,
    .footer-right-side {
        width: 100%;
    }

    .footer-right-side {
        gap: 10px;
    }

    .footer-right-side .footer-item {
        width: calc((100% - 10px) / 4);
    }

}


@media screen and (max-width:570px) {
    .footer-right-side {
        gap: 10px;
    }

    .footer-right-side .footer-item {
        width: calc((100% - 10px) / 3);

    }
}


@media screen and (max-width:460px) {

    .footer-right-side .footer-item {
        width: 100%;
        text-align: center;
    }

}

/*End fo0000000ter*/

/* Start Testimonials*/
.Testimonials {
    padding: 50px 0;
    background-color: #fff;
}

.Testimonial .row {
    gap: 40px;
}

.Testimonial {
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px 8.237195px 8.237195px rgb(0, 0, 0, 0.1);
    width: calc((100% - 40px) / 2);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Testimonial .user-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
}

.Testimonial .user-info {
    display: flex;
    gap: 15px;
    align-items: center;
}

.user-data {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.Testimonial .rating
{

    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

.Testimonial .rating img{
    width:25px;
    height: 25px;
}

/*screen for Testimonial */

@media screen and (max-width:768px) {
    
.Testimonial {
    
    width: 100%;
   
}
    
}

/*End Testimonial*/